@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #575050;
  --purple: #7D58C9;
  --lightpurple: #7f7496;
}

@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-purple: var(--purple);
  --color-lightpurple: var(--lightpurple);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181616;
    --foreground: #ffffff;
    --purple: #7D58C9;
  }
}

body {
  font-family: "Outfit", sans-serif;
 
}
